In [2]:
# Import modules
import pandas as pd

#read csv file Assignment-1-steps-data
df1 = pd.read_csv('Assignment-1-steps-data.csv', delimiter =';',encoding ='UTF-8')

In [3]:
df2 = pd.read_csv('Assignment-1-survey-data.csv')
df2.head()

,id,city,gender,age,hh_size,hh_type,education,height,weight,waist
0,1,Montpellier,male,25-34,2,couple,master or doctorate,183.0,62.0,78.0
1,2,Montpellier,female,25-34,2,couple,high school,163.0,60.0,75.0
2,3,Lyon,female,25-34,2,couple,master or doctorate,172.0,65.0,60.0
3,4,Lyon,male,25-34,3,single parent,bachelor,182.0,85.0,95.0
4,5,Bordeaux,male,25-34,2,couple,master or doctorate,177.0,70.0,81.0

In [4]:
# Merge df2 and df1, on 'id' common identifier
df = pd.merge(df2, df1, on = 'id')
df

,id,city,gender,age,hh_size,hh_type,education,height,weight,waist,...,4-5-2014,5-5-2014,6-5-2014,7-5-2014,8-5-2014,9-5-2014,10-5-2014,11-5-2014,12-5-2014,13-5-2014
0,1,Montpellier,male,25-34,2,couple,master or doctorate,183.0,62.0,78.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Montpellier,female,25-34,2,couple,high school,163.0,60.0,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Lyon,female,25-34,2,couple,master or doctorate,172.0,65.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Lyon,male,25-34,3,single parent,bachelor,182.0,85.0,95.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Bordeaux,male,25-34,2,couple,master or doctorate,177.0,70.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,Lyon,male,45-54,1,single,bachelor,180.0,81.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,Bordeaux,female,25-34,1,single,master or doctorate,160.0,62.0,79.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,Lyon,female,35-44,3,single parent,bachelor,153.0,40.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,Bordeaux,female,25-34,3,family,master or doctorate,175.0,71.0,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,Lyon,female,25-34,3,family,high school,165.0,68.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,Lyon,male,55-64,2,single parent,bachelor,175.0,82.0,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,Lyon,female,25-34,1,single,master or doctorate,165.0,60.0,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,Lyon,female,45-54,3,single parent,vocational,160.0,77.0,107.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,Lyon,female,55-64,1,single,master or doctorate,160.0,64.0,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,Lyon,female,45-54,5,family,high school,176.0,96.0,103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,Lyon,male,55-64,1,single,vocational,173.0,81.0,104.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,Bordeaux,male,25-34,2,couple,master or doctorate,180.0,70.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,Lille,female,<25,3,couple,bachelor,165.0,58.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,Lyon,male,45-54,2,couple,vocational,178.0,60.0,78.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,Lyon,female,45-54,1,single,high school,168.0,72.0,90.0,...,2818.0,9890.0,5549.0,6814.0,9397.0,8615.0,6480.0,9966.0,13433.0,NaN
20,21,Lyon,male,25-34,2,couple,bachelor,172.0,74.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,Lyon,male,25-34,1,single,master or doctorate,183.0,75.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,Lille,male,25-34,2,other,high school,175.0,58.0,76.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,Lille,male,<25,2,other,bachelor,176.0,70.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,Lyon,male,35-44,3,family,master or doctorate,179.0,78.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,Lyon,male,35-44,4,family,bachelor,180.0,88.0,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,27,Lille,female,25-34,1,single,master or doctorate,163.0,56.0,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28,Lyon,male,25-34,1,single,master or doctorate,181.0,69.0,83.0,...,15928.0,8654.0,15060.0,7661.0,24143.0,33379.0,43561.0,24711.0,6425.0,NaN
28,29,Lille,male,25-34,2,couple,master or doctorate,173.0,70.0,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,Lyon,male,25-34,1,single,master or doctorate,187.0,93.0,106.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899,900,Lyon,female,25-34,2,couple,bachelor,160.0,60.0,79.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
900,901,Lille,male,25-34,3,other,master or doctorate,172.0,66.0,89.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
901,902,Lyon,female,55-64,2,single parent,master or doctorate,171.0,88.0,112.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
902,903,Bordeaux,female,35-44,4,family,bachelor,157.0,55.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
903,904,Lille,female,25-34,2,couple,bachelor,180.0,68.0,77.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
904,905,Lille,female,35-44,2,single parent,bachelor,163.0,73.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
905,906,Lyon,female,<25,1,single,master or doctorate,170.0,55.0,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
906,907,Lyon,female,45-54,5,family,master or doctorate,168.0,63.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
907,908,Lyon,female,45-54,2,couple,high school,154.0,64.0,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
908,909,Bordeaux,female,25-34,2,couple,master or doctorate,172.0,58.0,71.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
909,910,Bordeaux,male,35-44,2,couple,master or doctorate,180.0,70.0,88.0,...,13072.0,776.0,3271.0,38400.0,40384.0,1760.0,5492.0,1460.0,NaN,NaN
910,911,Montpellier,female,35-44,4,family,bachelor,168.0,61.0,78.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
911,912,Lyon,male,45-54,3,family,master or doctorate,178.0,116.0,120.0,...,NaN,NaN,NaN,NaN,NaN,13135.0,9955.0,5320.0,NaN,NaN
912,913,Bordeaux,female,35-44,3,family,bachelor,160.0,66.0,92.0,...,4065.0,7841.0,8964.0,15958.0,5853.0,10379.0,6541.0,4957.0,8775.0,NaN
913,914,Lyon,female,25-34,1,single,master or doctorate,161.0,55.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
914,915,Lyon,female,25-34,2,couple,master or doctorate,165.0,57.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
915,916,Lyon,male,45-54,5,family,master or doctorate,173.0,66.0,62.0,...,33526.0,5041.0,13911.0,10292.0,4190.0,4444.0,24596.0,5300.0,4310.0,NaN
916,917,Bordeaux,male,25-34,3,family,bachelor,189.0,88.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
917,918,Lyon,male,25-34,3,family,master or doctorate,185.0,97.0,106.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
918,919,Montpellier,male,35-44,3,family,high school,190.0,92.0,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
919,920,Lille,female,25-34,2,couple,bachelor,163.0,54.0,73.0,...,16174.0,14235.0,14216.0,4580.0,8864.0,12223.0,9667.0,3960.0,9790.0,NaN
920,921,Lyon,male,55-64,4,family,bachelor,166.0,90.0,109.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
921,922,Lille,male,35-44,2,couple,bachelor,174.0,78.0,99.0,...,NaN,6907.0,9687.0,5956.0,NaN,7780.0,6713.0,2380.0,6146.0,NaN
922,923,Lyon,female,25-34,1,single,master or doctorate,169.0,53.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
923,924,Bordeaux,male,35-44,4,family,bachelor,165.0,69.0,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
924,925,Bordeaux,male,25-34,5,family,high school,177.0,69.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
925,926,Bordeaux,male,35-44,1,single,bachelor,172.0,66.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
926,927,Lyon,female,45-54,3,family,primary,169.0,108.0,108.0,...,NaN,NaN,NaN,NaN,14977.0,12778.0,12511.0,NaN,NaN,NaN
927,928,Montpellier,female,35-44,1,single,master or doctorate,167.0,64.0,85.0,...,13101.0,8812.0,3821.0,3817.0,4092.0,15096.0,6024.0,4035.0,NaN,NaN
928,929,Lille,male,25-34,2,couple,bachelor,190.0,83.0,89.0,...,8227.0,12369.0,8710.0,15514.0,7435.0,4978.0,14123.0,15799.0,7121.0,NaN

In [7]:

df['waist'] = df['waist'].apply(pd.to_numeric, errors='coerce')

# To remove the values under 45
def under_45(x):
    if(x < 45.0): 
        return float('NaN')
    else: 
        return x
df['waist'] = df['waist'].apply(under_45)

In [8]:
df["waist"].min()

46.0